{% extends 'layout.html' %}

{% block content %}
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-4 animated slideInDown mb-4">About Us</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="/img/about-1.jpg" alt="" style="object-fit: cover;">

                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6">Expert Eye Care with a Personal Touch</h1>
                    <p class="mb-4">Kathmandu Netralaya is a super specialty day care eye center that provides
                        comprehensive eye care solutions with
                        experienced professional surgeons, modern equipment, and state-of-the-art eye evaluation and
                        management facilities. Our
                        friendly environment ensures a comfortable experience for all your eye care needs.</p>
                    <div class="border-top mt-4 pt-4">
                        <div class="d-flex align-items-center">
                            <a href="tel:015914023">
                                <h5 class="mb-0 text-success">Call Us: 01-5914023</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto" style="max-width: 500px;">
            <h1 class="display-6 mb-5">Meet Our Professional Team Members</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="img/team-1.jpg" alt="">
                    <div class="text-center p-4">
                        <h5>Full Name</h5>
                        <span>Designation</span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Full Name</h5>
                        <p>Designation</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="img/team-2.jpg" alt="">
                    <div class="text-center p-4">
                        <h5>Full Name</h5>
                        <span>Designation</span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Full Name</h5>
                        <p>Designation</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="img/team-3.jpg" alt="">
                    <div class="text-center p-4">
                        <h5>Full Name</h5>
                        <span>Designation</span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Full Name</h5>
                        <p>Designation</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="img/team-4.jpg" alt="">
                    <div class="text-center p-4">
                        <h5>Full Name</h5>
                        <span>Designation</span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Full Name</h5>
                        <p>Designation</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
{% endblock %}