{% extends 'layout.html' %}

{% block content %}
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-4 animated slideInDown mb-4">About Us</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- About Us Start  -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                    <iframe width="350" height="600" src="https://www.youtube.com/embed/zwQyxUs3eXY"
                        style="width: 100%;" title="Virtual Tour of Kathmandu Netralaya" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6">Expert Eye Care with a Personal Touch</h1>
                    <p class="mb-4">Kathmandu Netralaya is a super specialty day care eye center that provides
                        comprehensive eye care solutions with
                        experienced professional surgeons, modern equipment, and state-of-the-art eye evaluation and
                        management facilities. Our
                        friendly environment ensures a comfortable experience for all your eye care needs.</p>
                    <div class="border-top mt-4 pt-4">
                        <div class="d-flex align-items-center">
                            <a href="tel:015914023">
                                <h5 class="mb-0 text-success">Call Us: 01-5914023</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Us End  -->

<!-- * Place Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h1 class="mb-0">Our Clinic Gallery</h1>
        </div>
        <div class="row g-5">
            <div class="owl-carousel equipment-carousel">
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img loading="lazy" class="img-fluid w-100" src="/img/about-1.jpg" alt="dr-rohit-pic"
                                style="height: 400px; object-fit: contain">
                        </div>
                        <div class="text-center p-4">
                            <p class="text-uppercase m-0">Reception</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.6s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img loading="lazy" class="img-fluid w-100" src="/img/about-i-1.jpg" alt=""
                                style="height: 400px; object-fit: contain">
                        </div>
                        <div class="text-center py-4">
                            <p class="text-uppercase m-0">Spec Shop with Flower</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img loading="lazy" class="img-fluid w-100" src="/img/about-view-pana.jpg" alt=""
                                style="height: 400px; object-fit:contain;">
                        </div>
                        <div class="text-center py-4">
                            <p class="text-uppercase m-0">Outside view from Entrance</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img loading="lazy" class="img-fluid w-100" src="/img/about-bed.jpg" alt=""
                                style="height: 400px; object-fit:contain;">
                        </div>
                        <div class="text-center py-4">
                            <p class="text-uppercase m-0">Rest Bed Zone</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img loading="lazy" class="img-fluid w-100" src="/img/about-office.jpg" alt=""
                                style="height: 400px; object-fit:contain;">
                        </div>
                        <div class="text-center py-4">
                            <p class="text-uppercase m-0">Office Area </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img loading="lazy" class="img-fluid w-100" src="/img/about-office-2.jpg" alt=""
                                style="height: 400px; object-fit:contain;">
                        </div>
                        <div class="text-center py-4">
                            <p class="text-uppercase m-0">Vision Check Zone
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img loading="lazy" class="img-fluid w-100" src="/img/about-spec-shop.jpg" alt=""
                                style="height: 400px; object-fit:contain;">
                        </div>
                        <div class="text-center py-4">
                            <p class="text-uppercase m-0">Spec Shop </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img loading="lazy" class="img-fluid w-100" src="/img/about-seat-area.jpg" alt=""
                                style="height: 400px; object-fit:contain;">
                        </div>
                        <div class="text-center py-4">
                            <p class="text-uppercase m-0">Seating Area</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img loading="lazy" class="img-fluid w-100" src="/img/about-view.jpg" alt=""
                                style="height: 400px; object-fit:contain;">
                        </div>
                        <div class="text-center py-4">
                            <p class="text-uppercase m-0">Outside View of Building</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img loading="lazy" class="img-fluid w-100" src="/img/about-top-view.jpg" alt=""
                                style="height: 400px; object-fit:contain;">
                        </div>
                        <div class="text-center py-4">
                            <p class="text-uppercase m-0">Car Park from clinic</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- * Place End -->

<!-- * Equipment Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h1 class="mb-0">Our Equipments</h1>
        </div>
        <div class="row g-5">
            <div class="owl-carousel equipment-carousel">
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img loading="lazy" class="img-fluid w-100" src="/img/Optopal_revo_fc130.png"
                                alt="dr-rohit-pic" style="height: 400px; object-fit: contain">
                        </div>
                        <div class="text-center p-4">
                            <p class="text-uppercase m-0">Optopal Revo FC 130</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img loading="lazy" class="img-fluid w-100" src="/img/flora-3-nethra-fundus-camera.png"
                                alt="dr-rohit-pic" style="height: 400px; object-fit: contain">
                        </div>
                        <div class="text-center p-4">
                            <p class="text-uppercase m-0">Flora 3 Netra Fundus Camera</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.6s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img loading="lazy" class="img-fluid w-100" src="/img/frey-visual-field-analyser.png" alt=""
                                style="height: 400px; object-fit: contain">
                        </div>
                        <div class="text-center py-4">
                            <p class="text-uppercase m-0">Frey Visual field Analyser</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img loading="lazy" class="img-fluid w-100" src="/img/haag-streit-sl.png" alt=""
                                style="height: 400px; object-fit:contain;">
                        </div>
                        <div class="text-center py-4">
                            <p class="text-uppercase m-0">Haag Streit SL (Switzerland)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img loading="lazy" class="img-fluid w-100" src="/img/janus-biometry-a-scan.png" alt=""
                                style="height: 400px; object-fit:contain;">
                        </div>
                        <div class="text-center py-4">
                            <p class="text-uppercase m-0">Janus Biometry A-Scan</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img loading="lazy" class="img-fluid w-100"
                                src="/img/karl-kaps-operating-microscope-som-62-basic-plus-germany.png" alt=""
                                style="height: 400px; object-fit:contain;">
                        </div>
                        <div class="text-center py-4">
                            <p class="text-uppercase m-0">Karl Kaps <span class="text-capitalize"> Operating Microscope
                                </span> (Germany) </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img loading="lazy" class="img-fluid w-100"
                                src="/img/operating-microscope-topcon--japan.png" alt=""
                                style="height: 400px; object-fit:contain;">
                        </div>
                        <div class="text-center py-4">
                            <p class="text-capitalize m-0">Operating Microscope <span class="text-uppercase">Topcon
                                    (Japan)</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img loading="lazy" class="img-fluid w-100" src="/img/optikon-phaco-machine-italy.png"
                                alt="" style="height: 400px; object-fit:contain;">
                        </div>
                        <div class="text-center py-4">
                            <p class="text-uppercase m-0">Optikon <span class="text-capitalize"> Phaco Machine</span>
                                (Italy) </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img loading="lazy" class="img-fluid w-100" src="/img/unicos-autorefractometer.png" alt=""
                                style="height: 400px; object-fit:contain;">
                        </div>
                        <div class="text-center py-4">
                            <p class="text-uppercase m-0">Unicos Auto Refractometer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- * Equipment End -->


<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto" style="max-width: 500px;">
            <h1 class="display-6 mb-5">Meet Our Professional Team Members</h1>
        </div>
        <div class="row g-4">

            <!-- DR Rohit Us Start  -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row flex-row-reverse g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                                <img class="position-absolute w-100 h-100" src="/img/rohit2.png" alt=""
                                    style="object-fit: contain;">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="h-100">
                                <h1 class="display-6">Prof. Dr. Rohit Saiju, MD</h1>
                                <p class="mb-4">Dr. Rohit Saiju is a consultant eye surgeon who specializes in treating
                                    cataracts, eyelid, orbit, and tears draining
                                    system diseases. He completed his MD in Ophthalmology from Tribhuvan University in
                                    Kathmandu in 2001 and a one-year
                                    clinical fellowship in Orbit, Plastic, and Lacrimal disorders at the Royal Victorian
                                    Eye and Ear Hospital in Melbourne
                                    in 2004. Dr. Saiju is a senior visiting consultant at the Tilganga Institute of
                                    Ophthalmology and is a prominent
                                    cataract and plastic eye surgeon. He has received several awards, including the APAO
                                    Distinguished Service Award (Tokyo)
                                    2014, the APAO Achievement Award (China) 2021, and the SAO Excellence Award (Delhi)
                                    2022. He is currently a Professor of
                                    Ophthalmology at the National Academy of Medical Sciences and a council member of
                                    the APAO.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- DR Rohit Us End  -->

            <!-- DR Rohit Us Start  -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                                <img class="position-absolute w-100 h-100" src="/img/Dr_Govinda.png" alt=""
                                    style="object-fit: contain;">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="h-100">
                                <h1 class="display-6">Prof. Dr. Govinda Poudyal, MD</h1>
                                <p class="mb-4">Prof. Dr. Govinda Poudyal is a renowned cataract and Retinal Surgeon in
                                    the country, working in Tilganga Institute of
                                    Ophthalmologyfor 25 years. He is a Professor and academic director in Tilganga
                                    Institute of Ophthalmology. He completed
                                    his MD in Ophthalmology from Institute of Medicine, Tribhuvan University, Nepal in
                                    1996. He pursued a highly prestigious
                                    postgraduate one year clinical fellowship in vitero-retina at Royal Victorian Eye &
                                    Ear Hospital, Australia in 2000.

                                    He has been involved in dozens of hospital based and community based researches in
                                    the field of Cataract and Retina for
                                    last 2 decades. He has received Distinguished Service Award from Asia-Pacific
                                    Academy of Ophthalmology (APAO).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- DR Rohit Us End  -->

            <!-- DR Rohit Us Start  -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row flex-row-reverse g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                                <img class="position-absolute w-100 h-100" src="/img/Dr._Sanyam_Bajimaya.png" alt=""
                                    style="object-fit: contain;">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="h-100">
                                <h1 class="display-6">Dr. Sanyam Bajimaya, MD</h1>
                                <p class="mb-4">Dr. Bajimaya received his medical degree (MBBS-2001) from Chittagong
                                    Medical College, Bangladesh and MD in Ophthalmology
                                    from BPKLCOS, IOM Tribhuvan University Kathmandu He joined the Lumbini Eye Institute
                                    (LEI), Bhairahawa in 2007 and had
                                    done his Advanced Phaco training under leadership of Prof. Junsuke Akura, AOCA. He
                                    joined Tilganga Institute of
                                    Ophthalmology in 2010 and completed his Vitreo-Retina fellowship from John A. Moran
                                    Eye Center University of Utah, USA
                                    in 2012. His special interests include Cataracts, Intra-ocular lens (IOL)
                                    management, Vitreo-Retina specialty and
                                    Pediatric Retina including Retinopathy of Prematurity. Dr. Bajimaya had elected at
                                    the post of Council Member of APVRS
                                    (2017-19) and Secretary-General of Nepal Vitreo-Retina Society (NVRS 2017-22). He
                                    has International Memberships from the American Academy of Ophthalmology (AAO).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- DR Rohit Us End  -->

            <!-- DR Rohit Us Start  -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                                <img class="position-absolute w-100 h-100" src="/img/Dr._Pragati_Gauta.png" alt=""
                                    style="object-fit: contain;">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="h-100">
                                <h1 class="display-6">Dr. Pragati Gautam Adhikari, MD</h1>
                                <p class="mb-4">Dr. Pragati is a consultant glaucoma specialist working as an Assistant
                                    Professor in B.P. Koirala Lions center for
                                    ophthalmic studies, Maharajgunj Medical Campus, TU since 2011AD. She has been
                                    working as a comprehensive ophthalmologist
                                    with special interest in glaucoma. She looks about 100 general cases per week, 20 to
                                    30 glaucoma cases per week. She has
                                    completed a short course on Glaucoma Diagnosis and Management Training from Tilganga
                                    Institute of Ophthalmology and 3
                                    month training in Medical, Laser and Surgical management of Glaucoma from Lumbini
                                    Eye Institute.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- DR Rohit Us End  -->

            <!-- DR Rohit Us Start  -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row flex-row-reverse g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                                <img class="position-absolute w-100 h-100" src="/img/Dr_Diwa_Hamal_Lamichhane.png"
                                    alt="" style="object-fit: contain;">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="h-100">
                                <h1 class="display-6">Dr. Diwa Hamal Lamichhane</h1>
                                <p class="mb-4">Dr. Diwa Hamal Lamichhane is a kind and energetic young ophthalmologist
                                    practicing in this field since completion of MD
                                    Ophthalmology from Manipal in 2012. From 2013- 2021 her contribution as anterior
                                    segment and Oculoplastic surgeon in
                                    Biratnagar Eye hospital has well acknowledged. She has done Anterior segment
                                    fellowship from BEH in 2014 and Orbit and
                                    Oculoplasty fellowship from Tilganga Institute of Ophthalmology in 2017.She has a
                                    record of over 18,000 cataract and
                                    hundred od different Oculoplastic surgeries with special interest in Aesthetic and
                                    Endoscopic DCR surgery. She is well
                                    known for her individual care to the patients in customized way to satisfy them.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- DR Rohit Us End  -->

            <!-- DR Rohit Us Start  -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                                <img class="position-absolute w-100 h-100" src="/img/Dr._Pratikshya_Amatya_Sainju.png"
                                    alt="" style="object-fit: contain;">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="h-100">
                                <h1 class="display-6">Dr. Diwa Hamal Lamichhane</h1>
                                <p class="mb-4">Kathmandu Netralaya is a super specialty day care eye center that
                                    provides
                                    comprehensive eye care solutions with
                                    experienced professional surgeons, modern equipment, and state-of-the-art eye
                                    evaluation and
                                    management facilities. Our
                                    friendly environment ensures a comfortable experience for all your eye care needs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- DR Rohit Us End  -->
        </div>
    </div>
</div>
<!-- Team End -->
{% endblock %}