{% extends 'layout.html' %}

{% block content %}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-4 animated slideInDown mb-4">Services</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Services</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto" style="max-width: 500px;">
            <h1 class="display-6 mb-5">Check out our Services</h1>
        </div>
        <div class="row g-4">

            <!-- Oculoplastic Surgery Start  -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row flex-row-reverse g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                                <img class="position-absolute w-100 h-100" src="/img/background-eye1.jpg" alt=""
                                    style="object-fit: contain;">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="h-100">
                                <h1 class="display-6">Oculoplastic Surgery</h1>
                                <p class="mb-4">Oculoplastic surgery is a subspecialty of ophthalmology that deals with
                                    the treatment of the eyelids, orbit, lacrimal
                                    (tear) system, and surrounding facial structures. The procedures involve a
                                    combination of plastic surgery and
                                    ophthalmology techniques to address a variety of conditions such as droopy eyelids,
                                    ptosis (a condition where the upper
                                    eyelid droops), entropion (inward turning of the eyelid), ectropion (outward turning
                                    of the eyelid), tear duct
                                    obstructions, and skin cancers around the eyes.

                                    Oculoplastic surgeons are highly trained in the complex anatomy and physiology of
                                    the eye region, and they use
                                    specialized surgical techniques to restore the function and appearance of the eye
                                    area. The goal of oculoplastic surgery
                                    is to improve vision, reduce discomfort, and enhance a patient's overall facial
                                    appearance.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Oculoplastic Surgery End  -->

            <!-- Glaucoma Surgery -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                                <img class="position-absolute w-100 h-100" src="/img/Glaucoma.jpg" alt=""
                                    style="object-fit: contain;">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="h-100">
                                <h1 class="display-6">Glaucoma Surgery</h1>
                                <p class="mb-4">Glaucoma surgery refers to a variety of procedures performed to treat
                                    glaucoma, a condition that damages the optic nerve
                                    and can cause blindness if left untreated. The goal of glaucoma surgery is to lower
                                    intraocular pressure (IOP), which is
                                    a major risk factor for glaucoma. The most common glaucoma surgeries are
                                    trabeculectomy and tube shunt surgery, both of
                                    which create a new drainage pathway for fluid in the eye. While glaucoma surgery can
                                    be effective in reducing IOP and
                                    preventing further vision loss, it is typically reserved for cases in which
                                    medication and laser therapy have been
                                    ineffective.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Glaucoma Surgery End  -->

            <!-- Cataract Surgery Start  -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row flex-row-reverse g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                                <img class="position-absolute w-100 h-100" src="/img/cata.jpg" alt=""
                                    style="object-fit: contain;">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="h-100">
                                <h1 class="display-6">Cataract Surgery</h1>
                                <p class="mb-4">Cataract surgery is a common and safe procedure that is performed to
                                    remove a cloudy lens from the eye and replace it
                                    with an artificial lens. The surgery is typically performed on an outpatient basis
                                    using local anesthesia, and patients
                                    are often able to resume normal activities shortly after the procedure. Cataract
                                    surgery is one of the most effective
                                    ways to improve vision and can greatly enhance a patient's quality of life. It is a
                                    routine procedure that is performed
                                    millions of times each year around the world.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Cataract Surgery End  -->

            <!-- DR Rohit Us Start  -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                                <img class="position-absolute w-100 h-100" src="/img/vitreo.jpg" alt=""
                                    style="object-fit: contain;">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="h-100">
                                <h1 class="display-6">Vitreo-Retina Service</h1>
                                <p class="mb-4">Vitreo-retina service is a specialized field of ophthalmology that deals
                                    with the diagnosis and treatment of conditions
                                    affecting the retina, macula, and vitreous humor (the gel-like substance that fills
                                    the eye). The service utilizes
                                    advanced diagnostic tools such as optical coherence tomography (OCT) and fluorescein
                                    angiography to detect and monitor
                                    retinal diseases such as diabetic retinopathy, age-related macular degeneration, and
                                    retinal detachment. Treatment
                                    options include medications, laser therapy, and surgery. Vitreo-retina service plays
                                    a critical role in preserving and
                                    restoring vision in patients with retinal disorders.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- DR Rohit Us End  -->

            <!-- Thyroid Eye Disease Check-Up Start  -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row flex-row-reverse g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                                <img class="position-absolute w-100 h-100" src="/img/thy.png" alt=""
                                    style="object-fit: contain;">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="h-100">
                                <h1 class="display-6">Thyroid Eye Disease Check-Up</h1>
                                <p class="mb-4">Thyroid eye disease (TED) is an autoimmune condition that affects the
                                    eyes and surrounding tissues. A thyroid eye
                                    disease check-up is an important evaluation performed by an ophthalmologist to
                                    monitor the progression of the disease
                                    and to assess any changes in the patient's eye health. The check-up may involve a
                                    comprehensive eye exam, imaging
                                    studies, and blood tests to evaluate thyroid function. Early detection and
                                    management of TED are crucial in preventing
                                    irreversible vision loss and other complications. Regular check-ups can help ensure
                                    that appropriate treatment is
                                    provided and that the disease is properly managed.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Thyroid Eye Disease Check-Up End  -->

            <!-- Diabetic Eye Check-Up Package Start  -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                                <img class="position-absolute w-100 h-100" src="/img/diabetic.jpg" alt=""
                                    style="object-fit: contain;">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="h-100">
                                <h1 class="display-6">Diabetic Eye Check-Up Package</h1>
                                <p class="mb-4">Diabetic eye check-up packages are comprehensive evaluations performed
                                    by ophthalmologists to assess the eye health of
                                    diabetic patients. These packages typically include a dilated eye exam to check for
                                    signs of diabetic retinopathy, a
                                    condition that damages blood vessels in the retina and can lead to vision loss.
                                    Additional tests such as OCT imaging and
                                    fluorescein angiography may also be performed to evaluate the extent of the disease.
                                    Regular check-ups are critical in
                                    preventing vision loss in diabetic patients and ensuring that appropriate treatment
                                    is provided.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Diabetic Eye Check-Up Package End  -->

            <!-- Comprehensive Eye Check-up Start  -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row flex-row-reverse g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                                <img class="position-absolute w-100 h-100" src="/img/eye-checkup.webp" alt=""
                                    style="object-fit: contain;">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="h-100">
                                <h1 class="display-6">Comprehensive Eye Check-up</h1>
                                <p class="mb-4">A comprehensive eye check-up is an evaluation performed by an
                                    ophthalmologist to assess the overall health of a
                                    patient's eyes. The exam typically includes a thorough assessment of vision, eye
                                    muscle function, and the ocular
                                    surface. In addition, the exam may involve the use of specialized equipment such as
                                    a slit lamp biomicroscope to examine
                                    the structures within the eye, and a tonometer to measure intraocular pressure. The
                                    ophthalmologist may also dilate the
                                    patient's pupils to allow for a more detailed examination of the retina and optic
                                    nerve.

                                    Comprehensive eye check-ups are important for maintaining healthy eyes and detecting
                                    any potential problems early on.
                                    The frequency of check-ups may vary depending on age, family history, and any
                                    underlying medical conditions. Regular
                                    check-ups can help detect and prevent conditions such as glaucoma, cataracts, and
                                    macular degeneration. In addition,
                                    they may uncover underlying health conditions such as high blood pressure or
                                    diabetes, which can affect the eyes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Comprehensive Eye Check-up End  -->

            <!-- Pterygium Surgery -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                                <img class="position-absolute w-100 h-100" src="/img/pterygium.png" alt=""
                                    style="object-fit: contain;">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="h-100">
                                <h1 class="display-6">Pterygium Surgery</h1>
                                <p class="mb-4">Pterygium surgery is a procedure performed to remove a growth of tissue
                                    on the surface of the eye that can cause
                                    discomfort, redness, and visual disturbances. The surgery typically involves the
                                    removal of the pterygium tissue and the
                                    placement of a graft to prevent regrowth. The procedure is usually performed on an
                                    outpatient basis using local
                                    anesthesia, and patients are typically able to resume normal activities within a few
                                    days. While the recurrence of
                                    pterygium is a possibility, the surgery can provide long-lasting relief and improve
                                    the patient's vision and quality of
                                    life.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Pterygium Surgery End  -->


            <!-- OCT (Maclua/Disc) Start  -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row flex-row-reverse g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                                <img class="position-absolute w-100 h-100" src="/img/oct.jpg" alt=""
                                    style="object-fit: contain;">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="h-100">
                                <h1 class="display-6">OCT (Maclua/Disc)</h1>
                                <p class="mb-4">OCT (Optical Coherence Tomography) is a non-invasive imaging technology
                                    used to produce high-resolution images of the
                                    retina and optic nerve. It uses light waves to capture detailed, cross-sectional
                                    images of the tissues within the eye.
                                    OCT is commonly used to diagnose and monitor retinal conditions such as macular
                                    degeneration and diabetic retinopathy,
                                    as well as optic nerve disorders such as glaucoma. The technology allows
                                    ophthalmologists to assess the thickness and
                                    structure of the retina and optic nerve, which can help guide treatment decisions
                                    and monitor disease progression. OCT
                                    imaging is a valuable tool in modern eye care and is widely used in ophthalmic
                                    practices.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--OCT (Maclua/Disc)  End  -->

            <!-- Visual Field -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                                <img class="position-absolute w-100 h-100" src="/img/visual.jpg" alt=""
                                    style="object-fit: contain;">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="h-100">
                                <h1 class="display-6">Visual Field</h1>
                                <p class="mb-4">The visual field is the extent of the area that a person can see while
                                    looking straight ahead. It includes both the
                                    central vision, which is necessary for reading and other detailed tasks, and the
                                    peripheral vision, which allows us to
                                    detect movement and objects in our surroundings. Visual field testing is a procedure
                                    used to assess a patient's field of
                                    vision and to diagnose conditions such as glaucoma and brain injuries. The test
                                    involves the patient looking into a
                                    device and indicating when they see a flash of light, which allows the
                                    ophthalmologist to map out the patient's visual
                                    field.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Visual Field End  -->


            <!-- Fundus & Disc Imaging with CCT Start  -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row flex-row-reverse g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                                <img class="position-absolute w-100 h-100" src="/img/fundus.png" alt=""
                                    style="object-fit: contain;">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="h-100">
                                <h1 class="display-6">Fundus & Disc Imaging with CCT</h1>
                                <p class="mb-4">Fundus and disc imaging with CCT (Central Corneal Thickness) is a
                                    comprehensive diagnostic tool used by ophthalmologists
                                    to evaluate the health of the retina and optic nerve. The procedure involves taking
                                    high-resolution images of the back
                                    of the eye using specialized equipment, including a fundus camera and OCT (Optical
                                    Coherence Tomography) technology. The
                                    images allow the ophthalmologist to assess the thickness of the central cornea,
                                    which can help diagnose and monitor
                                    conditions such as glaucoma. Fundus and disc imaging with CCT is an important part
                                    of routine eye exams, particularly
                                    for patients with a history of ocular diseases or other risk factors.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fundus & Disc Imaging with CCT  End  -->

            <!-- Biometry -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                                <img class="position-absolute w-100 h-100" src="/img/eye-bio.jpg" alt=""
                                    style="object-fit: contain;">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="h-100">
                                <h1 class="display-6">Biometry</h1>
                                <p class="mb-4">Biometry is a diagnostic procedure used to measure the length and other
                                    important dimensions of the eye. It is typically
                                    performed using specialized equipment such as an A-scan or B-scan ultrasound, or an
                                    optical biometer. Biometry is an
                                    important tool for planning cataract surgery and other intraocular procedures, as it
                                    provides precise measurements of
                                    the eye's dimensions. In addition, biometry can help diagnose conditions such as
                                    retinal detachment or ocular tumors by
                                    measuring the depth and thickness of the eye's structures. Biometry is a routine
                                    part of eye exams for patients
                                    undergoing intraocular procedures or with ocular conditions that require regular
                                    monitoring.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Biometry End  -->


            <!-- AVASTIN Start  -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row flex-row-reverse g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                                <img class="position-absolute w-100 h-100" src="/img/injection.jpg" alt=""
                                    style="object-fit: contain;">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="h-100">
                                <h1 class="display-6">AVASTIN Injection</h1>
                                <p class="mb-4">AVASTIN (bevacizumab) is a medication that is commonly used to treat
                                    various eye conditions, including age-related
                                    macular degeneration (AMD) and diabetic retinopathy. The medication is administered
                                    via injection into the eye and works
                                    by blocking the formation of abnormal blood vessels that can cause damage to the
                                    retina. The injection is typically
                                    performed in a clinic or hospital setting by a qualified ophthalmologist. AVASTIN
                                    injections have been shown to be
                                    effective in improving vision and reducing the risk of vision loss in patients with
                                    certain eye conditions.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- AVASTIN Injection End  -->

            <!-- Botox Injection -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden rounded h-100" style="min-height: 400px;">
                                <img class="position-absolute w-100 h-100" src="/img/injection.jpg" alt=""
                                    style="object-fit: contain;">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="h-100">
                                <h1 class="display-6">Botox Injection</h1>
                                <p class="mb-4">Botox (botulinum toxin) injections are a cosmetic treatment used to
                                    reduce the appearance of wrinkles and fine lines on
                                    the face, particularly around the eyes and forehead. The injections work by
                                    temporarily paralyzing the muscles
                                    responsible for the wrinkles, allowing the skin to smooth out and appear more
                                    youthful. Botox injections are typically
                                    performed by a qualified physician or cosmetic surgeon in a clinic or office
                                    setting. The procedure is generally
                                    well-tolerated and has minimal downtime, with most patients able to resume normal
                                    activities immediately following
                                    treatment.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Botox Injection End  -->

        </div>
    </div>
</div>
<!-- Service End -->
{% endblock %}